
.input-container{
    display: flex;
    flex-direction: column;
    max-width: 27%;
    min-width: 22%;
}  
.input-container:focus{
    outline: none;
}
input{
    padding-right: 2em;
    background-size: 16px 16px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: #75757E;
    border: 1px solid #D2D7D9; 
    border-radius: 5px; 
    display: inline-block;
    white-space: pre-wrap; 
    max-width: 100%;
}
