.ProductContainer{
    display: flex;
    height: 4em;
    width: 65em;
    background-color: rgb(157, 156, 164);
    margin-top: 1.5em;
    margin-left: 2em;
    border-radius: 10px;
}
.InventoryText{
    padding-top: 1.1em;
    padding-left: 1em;
    padding: 1em;
    font-family: Gudea;
    font-weight: 700;
    font-size: 1.1em;
}
.imgLapiz{
    margin-top: 1.1em;
    margin-right: 1em;
    margin-left: 1em;
    height: 40%;
    margin-left: auto;
}
.imgTrash{
    margin-top: 1.1em;
    margin-right: 1em;
    margin-left: 1em;
    height: 40%;
}
