.TitleInp{
    color: black;
    font-size: 1.5em;
}
.textArea-container{
    width: 100%;
    background-color: white;
    border-radius: 20%;
}
textarea{
    width: 100%;
    background-color: white;
}