.tabla-factura {
    margin-top: 3.7em;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black; 
}
  
.tabla-factura th,
.tabla-factura td {
    border: 1px solid black; 
    padding: 8px;
    text-align: center; 
    color: black; 
}

.tabla-factura th {
    font-weight: bold; 
    text-align: center; 
    background: #efefef;
}
.CantTotal{
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}