@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');


body{
    background-color: #f4eee0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenido{
    display: flex;
    gap: 150px;
}

.titulo h1{
    color: #4f3313;
    width: 370px;
    font-size: 50px;
    font-family: Benne;
    font-weight: 600;
}

.login-container{
    background-color: white;
    border-radius: 3rem;
    width: 500px;
    height: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.login-container h1{
    width: min-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    margin-top: 60px;
}

.login-container h2{
    width: fit-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 70px;
    color: rgb(79, 79, 79);
}
.login-container p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(79, 79, 79);
}
.login-container a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(79, 79, 79);
    font-size: 15px;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 140px;
}
.login-container a:hover{
    color: rgb(100, 42, 1);
}

.input{
    width: 26em;
    height: 1.4em;
    border-radius: 10px;
    background-color: white;
    color: gray;
    padding: 10px;
    border: 1px solid rgb(215, 220, 222);
    margin-top: 0.1em;
}  
.inputContainer{
    display: flex;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 30px;
}
.botones{
    margin-left: 65px;
    margin-right: 65px;
    ;
}
.traje{
    margin-left: 10px;
}

.buton{
    width: 45%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #342903;
    margin-right: 10%;
    background-color: white;
}
.buton:hover{
    background-color: #e3d8be; 
}

.buton1{
    width: 45%;
    height: 40px;
    border-radius: 10px;
    background-color: #342903;
    color: white;
    border: none;
}

.buton1:hover{
    background-color: #1f1902;
}