.MeasureContainer{
    display: flex;
}
.RightContainer{
    display: flex;
    flex-direction: column;
}
.whiteContainer{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 70em;
    height: 29em;
    margin-left: 3em;
    margin-top: 1em;
    /* display: flex; */
}
.InternContainer{
    border:#000000 1px;
    padding-left: 2%;
}
.TitleInputContainer{
    color: #000000;
    margin-top: 1.5em;
    font-size: 1.4rem;
}

.ContainerButtons{
    display: flex;
}
.ContainerHorizontal{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
}
.LineInternTitle{
    text-decoration: underline;
    color: #000000;
    font-size: 1.4rem;
    margin-left: 6.5%;

}
.input-date {
padding: 8px;
border: 2px solid #ccc;
border-radius: 5px;
font-size: 16px;
outline: none;
}

/* Estilo para el icono de calendario */
.input-date::-webkit-calendar-picker-indicator {
filter: invert(30%) sepia(80%) saturate(10000%) hue-rotate(150deg);
/* Ajusta los valores para obtener el efecto de color deseado en el icono */
}

/* Cambiar el color del texto seleccionado en el calendario emergente */
.input-date::selection {
background-color: #ffc107; /* Cambia el color según tu preferencia */
}