.date-input-container{
    display: flex;
    flex-direction: column;
    max-width: 27%;
    min-width: 25%;
    background-color: white;
}

input {
    background-color: white;
    color-scheme: dark;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}