.BotonGuardar,
.BotonGuardar2,
.BotonCancelar,
.BotonAgregarNuevaTela{
    padding: 10px 20px;
    background-color: rgb(65, 65, 66);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 11em;
    height: 3.5em;
    font-weight: 700;
    font-size: 1rem;
    font-family: Gudea;
}

.BotonGuardar:hover,
.BotonGuardar2:hover,
.BotonCancelar:hover,
.BotonAgregarNuevaTela:hover {
  background-color: #333; /* Change the background color on hover */
}



.BotonGuardar{
    margin-top: 1em;
    margin-left: 17em;
}
.BotonCancelar{
    margin-top: 1em;
    margin-left: 9em;
}
.BotonAgregarNuevaTela{
    margin-top: 1em;
    margin-left: 9em;
}
.BotonGuardar2{
    margin-top: 1em;
    /* margin-left: 17em; */
}