.inputTextContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputTextContainer label{
    text-transform: capitalize;
    font-size: 14px;
    color:#805d48;
    text-align: left;
}

.inputTextContainer input{
    font-family: var(--app-plain-text-font--);
    font-size: 17px;
    padding: 12px;
    border: 1px solid #b8bfc3;
    border-radius: 7px;
    background-color: transparent;
    outline: none;
    height: 45px;
    box-sizing: border-box;
    color: black;
}

.inputTextContainer.error input{
    border-color: var(--error-color--);
}

.inputTextContainer.error label{
    color:var(--error-color--)
}

.inputTextContainer .inputError{
    text-align: left;
    color: var(--error-color--);
    font-size: 15px;
    font-weight: normal;
}