.sideMenuItem{
  width: 100%;
  height: 30px;
  list-style: none;
  
}

.sideMenuItem a{
  display: flex;
  gap: 15px;
  width: 100%;
  height: 100%;
  align-items: center;
  color:gray;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.sideMenuItem a:hover{
  font-weight: bold;
}

.sideMenuItem img{
  height: 100%;

}

.dropdown {
  position: relative;
  color:gray;
  align-items: center;
  display: flex;
}

.dropdownOpen {
  margin-bottom: 60%;
}

.dropdown:hover {
  font-weight: bold;
}

.dropdownContent {
  display: none;
  position: absolute;
  color:gray;
  top: 100%;
  left: 0;
  background-color: white;
  font-size: 16px;
  z-index: 0;
  /* margin-bottom: 10px; */
}

.dropdownOpen .dropdownContent {
  display: block;
  margin-bottom: 50%;
  /* padding-top: 10px; */
}


.dropdownContent li {
  margin-bottom: 15px;
}

.icon {
  width: 10%;
  height: 10px;
  /* -right: ; */
}

.iconDrop {
  width: 10%;
  height: 10px;
 padding-right: 15px;
}